.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  padding-inline: 5rem;
}

.header {
  padding: 20px;
  text-align: left;
}

.highlight {
  color: red;
}

.main-content {
  display: flex;
}



/* .chart-container {
  width: 45%;
  margin: 20px;
} */

.nutrient-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nutrient-card {
  width: 23%;
  background: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.ContainerChart {
  display: flex;
  width: 100%;
}

.main-charts-section {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.detailed-metrics-charts {
  display: flex;
  justify-content: center;
}

.detailed-metrics-charts p {
  display: flex;
  gap: 15px;
  
}

.SessionChart {
  background-color: red;
  color: #FFFFFF;
  border-radius: 10px;
}

.SessionChart h2{
  margin-left: 2em;
}



.ActivityChart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: #FBFBFB;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.nutrition-stats-section {
    padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info-box {
  display: flex;
  margin-bottom: 20px;
  justify-content: left;
  align-items: center;
  background-color: #FBFBFB;
  gap: 10px;
  height: 6em;
  width: 15em;
  border-radius: 10px;
}

.info-box img {
  width: 50px; 
  height: 50px; 
  margin-left: 15%;
}
 
.info-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.info-text p {
  margin: 0;
}

.info-text p:first-child {
  font-size: 1.5em;
  font-weight: bold;
}

.info-text p:last-child {
  color: #777;
}

.ScoreChart {
  background-color: #FBFBFB;
}

.ScoreChart h2{
  margin-left: 2em;
}

.ScoreChart p{
  position: relative;
  top: 200px;
  left: 150px;
}

.chart-container {
  width: 100%;
  height: 100%;
  margin-right: 2em;
}

.PerformanceChart {
  background-color: #282D30;
  border-radius: 10px;
}

